// Grayscale
$WHITE: #ffffff;
$BLACK: #000000;
$GRAY6: #666666;
$GRAYA: #aaaaaa;
$GRAYE: #eeeeee;

$BIG_TITLE: #1f315b;
$TASKS_TITLE: #8f99bf;
$TASK_ITEM_TITLE: #4f566f;

$MAINBGCOLOR: #cae9ff;
$INFOBGCOLOR: #369efc;
$FOOTERBGCOLOR: #2c3d50;
$FOOTERFONTCOLOR: #a6afb7;

$BUTTONTEXTCOLOR: #027be9;
$BUTTONHOVERCOLOR: #36cdfc;

$MODALBGCOLOR: #000000cc;
$MODALCONTENTSBG: #323843;
$MODALHEADERBG: #20252b;
$MODALCLOSEBTNBG: #fb5f57;
